# ignore local environment and variables file
config-generator/.env
config-generator/.providers.yaml

# ignore local extra servers configuration
config-generator/extra_servers.yaml
config-generator/extra_servers.yaml.bak

# ignore generated configuration files
config-generator/generated_configs/

# ignore virtual environment folders
.venv/
venv/

# ignore Python cache files
__pycache__/
*.pyc

#ignore logs
logs/