PANEL_URL="http://127.0.0.1:2053"
PANEL_USERNAME=""
PANEL_PASSWORD=""
GITHUB_USERNAME=""
GITHUB_TOKEN=""
GIST_ID=""
SERVER_HOST="my.domain.com"
INBOUND_ID=1         # The ID of the inbound to update with the generated rules
SYNC_INBOUND_IDS="1" # can be a comma-separated list of inbound IDs to sync
RULE_PROVIDER_URL="https://raw.githubusercontent.com/Your_Nickname/clash-proxy-rules-gen/refs/heads/main/clash_proxy_rules.yaml"